body{
	background-image: url(img/logo.jpg);
	background-size: 15%;
	background-repeat: no-repeat;
	background-position: center;
	
}

.aprobar
{
	background-image:url(img/icono-aprobacion.jpg);
	background-repeat:no-repeat;
	background-position:right;
	background-size: 20px;
	text-align:left;
	width:70px;
	height:28px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#f89311;
	border-width:0;
	background-color:#fefefe;
}
.efectoNeon 
{
	text-align: left; 
	font-family: Arial; 
	font-size: 30px; 
	COLOR: #1278BF; 
	text-shadow: 0px 0px 9px #508AD3;

}

